body {
  background-color: #7d47b9;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
}

h1 {
  text-align: center;
}

a {
  color: white;
  border-radius: 10px;
  font-size: 10px;
  text-decoration: none;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

img:hover {
  width: 150px;
  height: 150px;
  filter: brightness(50%);
}

.conteudo {
  background-color: #f1eef6;
  color: #333;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner {
  background-color: #7b1fa2;
  color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.produto-preco {
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
}

h1 img {
  width: 175px;
  height: 175px;
}

.neon-btn {
  background-color: #ff00ff;
  color: #ff00ff;
  width: 100px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
}

.neon-btn:hover {
  background-color: #ffffff;
  color: #ff00ff;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  /* css para dispositivos móveis */
  .produtos .grid {
    flex-direction: column;
  }
  img {
    border-radius: 50%;
    border: solid 2px white;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 90%;
  }

  .container {
    grid-template-columns: repeat(2,
